MB_GP_Charts
MB Ghost Practice User Survey (Responses).xlsx
MB_Software Engineer_Assessment.pdf
MB Ghost Practice - Automated Time Tracking & Billing Demo.html
MB_Software_Engineer_Assessment.pdf
MB Ghost Practice User Survey (Responses).xlsx
MB Ghost Practice User Survey (Responses).xlsx
MB Ghost Practice User Survey (Responses).xlsx
__pycache__
.env 
.venv 